main {
  padding: 64px 0 0 0;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-bottom: 36px;
}

.binges {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.binge {
  width: 200px;
  margin: 8px;
}

h3 {
  display: inline;
}

.panel-heading a {
  float: right;
  text-decoration: none;
}
